body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url("../images/dust_scratches/dust_scratches.png");
    margin: 0px;
}

.header {
    float: left;
    width: 100%;
    background-color: #ffffff;
    padding: 50px 0px 0px 0px;
    border-bottom: 2px solid #cccccc;
}

h1 {
    font-family: 'Georgio', Times, 'Times New Roman', serif;
    font-size: 200%;
    color: white;
    background-color: #4aaaa5;
    text-align: center;
    padding: 20px;
    float: left;
    margin-left: 20%;
    margin-bottom: 0px;
}

.pages {
    margin-right: 15%;
    float: right;
    padding: 5px;
}

a {
    text-decoration: none;
    color: #8b8585;
}

.internal:hover {
    background: #4aaaa5;
    color: white;
    border-radius: 5px;
}

#contact {
    float: right;
    padding: 0px 10px;
}

#portfolio {
    float: right;
    padding: 0px 10px;
    border-right: 1px solid #cccccc;
}

#about {
    float: right;
    padding: 0px 10px;
    border-right: 1px solid #cccccc;
}

.main {
    float: left;
    width: 590px;
    margin: 50px 40px 50px 20%;
    background: #ffffff;
    padding: 30px;    
}

h2 {
    font-family: 'Georgio', Times, 'Times New Roman', serif;
    font-weight: bold;
    color: #4aaaa5;
    font-size: 200%;
    padding: 0px 0px 20px 0px;
    margin: 20px;
    border-bottom: 2px solid #cccccc;
}

#profile {
    margin: 0px 10px 5px 0px;
    float:left;
    width: 40%;
}

.words {
    padding: 0px 20px 20xp 0px;
    color: #8b8585;
    margin: 20px 20px 0px 20px;
    line-height: 1.5;
}

.portfolio_link {
    float: left;
    position: relative;
    text-align: center;
    color: white;
    margin: 20px;
}

.image {
    height: 175px;
    width: 255px;
}

.game {
    position: absolute;
    top: 60%;
    background-color: #4aaaa5;
    width: 100%;
    height: 30px;
    padding-top: 5%;
}

form {
    margin: 20px;
    color: #8b8585;
    line-height: 1.5;
}

.example {
    color: #b1aeae
}

textarea {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

#submit {
    color: white;
    font-size: 100%;
    background: #4aaaa5;
    width: 100px;
    height: 40px;
    border: 1px solid #4aaaa5;
}

.sidebar {
    float: left;
    width: 250px;
    margin-top: 50px;
    background: #ffffff;
    padding: 10px;
    text-align: center;
}

h3 {
    font-family: 'Georgio', Times, 'Times New Roman', serif;
    font-weight: bold;
    color: #4aaaa5;
    font-size: 150%;
    padding: 0px 0px 20px 0px;
    margin: 20px;
    border-bottom: 1px solid #cccccc;    
}

.social {
    margin: 5px;
    text-align: center;
    width: 50px;
    height: 50px;
}

.social:hover {
    background: #4aaaa569;
    border-radius: 10px;
}

.footer {
    float: left;
    width: 100%;
    text-align: center;
    position: sticky;
    bottom: 0;
    left: 0;
    height: 10px;
    background: rgb(77, 77, 77);
    color: rgb(216, 214, 214);
    margin-top: 50px;
    padding: 25px 0px;
    border-top: 10px solid #4aaaa5;
    font-size: 75%;
}